.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  z-index: 0;
}
.logo {
  background-size: cover;
  width: 228px;
  height: 32px;
}
.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  left: 64px;
  top: 30px;
}
.header__title {
  align-self: center;
  max-width: 730px;
  margin: 0 0 0 64px;
  padding: 0;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}
.header__subtitle {
  position: absolute;
  max-width: 388px;
  margin: 0;
  padding: 0;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}
.header__link {
  text-decoration: none;
  color:#2f80ed;
}
.header__link:hover {
  background-color: #1f1f1f;
  color: #f2f2f2;
}
.header__main-illustration {
  background-color: #2f80ed;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  z-index: -2;
}
.header__square-pic {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/*Секция, блок description*/
.description {
  display: flex;
  justify-content: center;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 100px auto 100px;
  width: 80%;
}
.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
  padding: 0;
}
.two-columns__paragraph:last-child {
  margin: 0;
}


/*Секция, блок digits*/
.digits {
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  max-width: 60%;
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.section-subtitle {
  max-width: 60%;
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.table__cell {
  width: 250px;
  margin: 60px 0 0;
  padding: 0;
  list-style: none;
}
.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  margin: 20px 0 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*Секция, блок feynman*/
.feynman {
  position: relative;
  height: 890px;
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
}
.feynman__title {
  max-width: 648px;
  padding: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  margin: 70px 0 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
}
.feynman__link:hover {
  background-color: #1f1f1f;
  color: #f2f2f2;
}

/*Секция, блок kaufman*/
.kaufman {
  position: relative;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  z-index: 0;
  overflow: hidden;
  padding: 90px 0 0;
}
.section-title_theme_dark {
  padding: 20px 0 0;
  color: #f2f2f2;
}
.section-subtitle_theme_dark {
  color: #f2f2f2;
}
.table_theme_dark {
  color: #f2f2f2;
}
.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0;
}
.table__heading_theme_dark {
  color: #f2f2f2;
}
.table__text_theme_dark {
  color: #f2f2f2;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

/*Подвал сайта, блок footer*/
.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  padding: 60px 0 40px;
}
.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content-copyright {
  flex-basis: 771px;
  justify-content: space-between;
}
.footer__column_content-info {
}
.footer__column_content-social {
}
.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  margin: 0;
  padding: 0;
}
.footer__author {
  margin: 18px 0 18px;
  padding: 0;
  width: 200px;
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
}
.footer__social-icon {
  background-position: center;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__column-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
